<div class="row justify-content-center B">

    <div class="col-10 col-md-3 align-self-center">
        <img src="./images/logowhite.png" class="img-fluid">
    </div>

    <div class="col-10 col-md-4 align-self-center">
        <a class="row" href="#">ONCOLOGY</a>
        <a class="row" href="#">ANGIOGENESE INHIBITIE</a>
        <a class="row" href="#">ONS PROJECT</a>
        <a class="row" href="#">STEUN ONCOLOGY</a>
    </div>

    <div class="cardB col-3">
        <div class="card-body">
            <h2 class="card-title">€15.786,98</h2>
            <p class="card-text">van het €80.000,00 doel werd reeds gedoneerd.</p>

            <button type="button" class="btn btn-light">STEUN DIT PROJECT</button>

            <div class="row">
                <p class="klein volg">Volg ons op:</p>
                <img src="./images/fbneg.png" class="img-fluid social" href="https://www.facebook.com">
                <img src="./images/instneg.png" class="img-fluid social" href="https://www.instagram.com">
                <img src="./images/twitterneg.png" class="img-fluid social" href="https://twitter.com">
            </div>

            
        </div>
    </div>