<!--FOOTER GROOT SCHERM-->
<div class="row justify-content-center B">

    <div class="col-10 col-md-3 align-self-center">
        <img src="./images/logowhite.png" class="img-fluid logo">
    </div>

    <div class="col-10 col-md-4 align-self-center">
        <a class="row" href="index.html">ONCOLOGY</a>
        <a class="row" href="angiogenese.html">ANGIOGENESE INHIBITIE</a>
        <a class="row" href="project.html">ONS PROJECT</a>
        <a class="row mb-2" href="steun.html">STEUN ONCOLOGY</a>
    </div>

    <div class="cardB col-3 d-none d-sm-block">
        <div class="card-body">
            <h2 class="card-title">€15.786,98</h2>
            <p class="card-text">van het €80.000,00 doel werd reeds gedoneerd.</p>

            
            <a class="btn btn-light btn-primary btn-lg" href="steun.html" role="button">STEUN DIT PROJECT</a>

            <div class="row">
                <p class="klein volg">Volg ons op:</p>
                <img src="./images/fbneg.png" class="img-fluid social" href="https://www.facebook.com">
                <img src="./images/instneg.png" class="img-fluid social" href="https://www.instagram.com">
                <img src="./images/twitterneg.png" class="img-fluid social" href="https://twitter.com">
            </div>

            
        </div>
    </div>
</div>
