<!--NAVIGATIE
<div class="row justify-content-center">
    {% for page in site.pages %}
    <ul class="nav nav-tabs nav-fill col-10 ">
        <li class="nav-item align-self-center">
          <a class="nav-link active" href="{{ page.url | absolute_url }}">{{ page.title }}</a>
        </li>
      </ul>
      {% endfor %}
</div>-->

<!--NAVIGATIE-->
<div class="row justify-content-center">
  <ul class="nav nav-tabs nav-fill col-10 rounded">
      <li class="nav-item align-self-center">
        <a class="nav-link" href="{{ site.baseurl }}">Oncology</a>
      </li>
      <li class="nav-item align-self-center">
        <a class="nav-link" href="angiogenese.html">Angiogenese Inhibitie</a>
      </li>
      <li class="nav-item align-self-center">
        <a class="nav-link" href="project.html">Ons project</a>
      </li>
      <li class="nav-item align-self-center">
        <a class="nav-link" href="steun.html">Steun Oncology</a>
      </li>
    </ul>
</div>