

<!--NAVIGATIE-->
<div class="row justify-content-center">
  <ul class="nav nav-fill col-10  animated fadeInDown ">
      <li class="nav-item align-self-center">
        <a class="nav-link" href="index.html">Oncology</a>
      </li>
      <li class="nav-item align-self-center">
        <a class="nav-link" href="angiogenese.html">Angiogenese Inhibitie</a>
      </li>
      <li class="nav-item align-self-center">
        <a class="nav-link" href="project.html">Ons project</a>
      </li>
      <li class="nav-item align-self-center">
        <a class="nav-link" href="steun.html">Steun Oncology</a>
      </li>
    </ul>
</div>